<div class="container">
<div class="row">
<h1>Editing Sighting</h1>

<%= render 'form' %>

<%= link_to 'Show', @sighting ,:class=>"waves-effect waves-light btn  yellow darken-1" %> 
<%= link_to 'Back', sightings_path ,:class=>"waves-effect waves-light btn  blue darken-1" %>
</div>
</div>