<div class="container">
<div class="row">
<h1>Editing Complaint</h1>

<%= render 'form' %>

<%= link_to 'Show', @complaint ,:class=>"waves-effect waves-light btn  yellow darken-1" %> 
<%= link_to 'Back', complaints_path ,:class=>"waves-effect waves-light btn  blue darken-1" %>
</div>
</div>