/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("green" , "accent-4") !default;
@import "materialize";
@import "materialize/extras/nouislider";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


// materialize/components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/form";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/date_picker/default.scss";
@import "materialize/components/date_picker/default.date.scss";
@import "materialize/components/date_picker/default.time.scss";

.navbar-fixed {
    
        margin-top: 0px;
}

#height-min{
	min-height: 580px;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  img.responsive-img, video.responsive-video {
      max-width: 125%;
    height: 47px;
}

#img-avatar {
    width: 40px;
   
    height: 65px;
}

.user-text{
font-size:15px;
  padding-top:10px;
     }

.user-data li{
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
}

.footer-img{
  margin-bottom: -20px;
}


#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    margin:0px;
    z-index: 999;
    background: red;
    .alert, .notice {
        padding: 1.5rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
}

.logo {
    height: 58px;
    width: 72px;
}

.slider{
  height: 750px;
}
.slides{
    height: 600px;
}
.mission-1{
    
    text-align: center;
    
}
.mission{
margin-top: 80px;
  margin-bottom: 80px;
}

.btn-center{     margin-left: 50%; }
.tabs-border{
    border-style: solid;
    border-width: 1px; 
    }